body {
    font-family: Arial, Helvetica, sans-serif;
    color: #35374c;
    background-color: #fef9ef;
    margin: auto;


}

header {
    padding: 20px;
    padding-right: 40px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #ffcb77;
    font-size: 2.2rem;


}

nav ul {
    list-style: none;
    font-size: 1.4rem;
    line-height: 2rem;

}

.instructions {
    padding: 20px;
}

a:link {
    text-decoration: none;
    color: #35374c;

}

a:hover {
    cursor: pointer;
    color: #e07a5f;
    transition: scale(1.5);
}

.wrapper {
    padding: 20px;
    padding-top: 40px;
    display: grid;
    grid-template-columns: 30% 30% 30%;
    column-gap: 25px;

}

.player-choice {
    padding: 40px;
    text-align: center;
    border: #35374c 2px;
    background-color: #e07a5f;
    border-radius: 10px;
}

.player-form {
    padding: 40px;
    text-align: center;
    border: #35374c 2px;
    border-radius: 40px;
}
